<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Registration Succeeded!</h1>
    <img th:src="@{/images/TacoCloud.png}" alt="Пример картинки">
    <span>Full name:</span><span th:text="${event.type}"></span><br/>
    <span>E-mail:</span><span th:text="${event.businessValue}"></span><br/>
</body>
</html>